streamlit
langchain
langchain-community
langchain-core
langchain-chroma
langchain-huggingface
langchain-groq
chromadb
python-dotenv
pypdf
sentence_transformers
protobuf==3.20.3
pysqlite3-binary

